// L'element pare de tot el component de perfil
div#Llista , #Llista2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;

    div.llista-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: auto;
    
        // Contenidor del formulari centrat i amb la mida ajustada
        div.llista {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%, -50%);
            
            div.llista-inner {
                width: 100%;
                height: 100%;
                padding: 5px;
                background-color: white;
                overflow-y: scroll;
                overflow-x: hidden;


                h1{
                    max-width:100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                div.pad-10{
                    padding:10px;
                }
                div.backG1{  
                    background-color: #41B883ee;
                    
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top:0px;
                    left:0px;

                }
                div.backG{  
                    background-color: #35495Eee;
                    -webkit-clip-path: polygon(100% 100%, 100% 67%, 100% 0, 100% 0, 0 100%);
                    clip-path: polygon(100% 100%, 100% 67%, 100% 0, 100% 0, 0 100%);
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top:0px;
                    left:0px;

                }
                img.img-lloc{
                    max-width: 500px;
                    max-height: 500px;
                }
                
                div.lloc{
                    margin: 10px;
                    padding: 0;
                    position: relative;
                    
                }
                div.titol{
                    
                    div.titol-left{
                        vertical-align: bottom;

                    }
                    div.titol-rigth{
                        text-align: right;
                        vertical-align: bottom;


                    }
                }
                div.hora{
                    font-size: 12px;
                }
                div.descr{
                    p{
                        max-width:100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                div.btn-mesinfo{
                    text-align: center;
                }
                img.img-lloc{
                    width: 100%;
                }
                
            }
        }
    }
}