// L'element pare de tot el component de perfil
div#Llista {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;

    div.llista-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: auto;
    
        // Contenidor del formulari centrat i amb la mida ajustada
        div.llista {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%, -50%);
            
            div.llista-inner {
                width: 100%;
                height: 100%;
                padding: 5px;
                background-color: #fff;
                overflow-y: scroll;
                overflow-x: hidden;


                button.btnBack{
                    padding: 5px 50px;
                    background-color: transparent;
                    border: 2px solid #365161;
                    color: #365161;
                    font-weight: 600;
                    transition: .2s;
                }
                
                button.btnBack:hover{
                    background-color: #365161;
                    border: 2px solid transparent;
                    color: #4EBD8B;
                    
                }
                div.center{
                    text-align: center;
                }

                div.backG1{  
                    background-color: #41B883ee;
                    
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top:0px;
                    left:0px;

                }
                div.backG{  
                    background-color: #35495Eee;
                    -webkit-clip-path: polygon(69% 100%, 100% 31%, 100% 0, 0 0, 0% 31%);
                    clip-path: polygon(69% 100%, 100% 31%, 100% 0, 0 0, 0% 31%);
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top:0px;
                    left:0px;

                }
                h1.pintInfoTitol{
                    color: white;
                    max-width:100%;
                    font-weight: 600;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                filter: opacity(70%);
                
                }

                div.descr{
                    border-top: solid 4px #365161;
                    font-size: 25px;
                    margin: 5px 50px;
                    width: 95%;
                    font-weight: 600;
                    filter: opacity(70%);
                }
               
                    div.titol-left{
                        vertical-align: bottom;

                    }
                    div.titol-rigth{
                        text-align: right;
                        vertical-align: bottom;


                    }
               
                img{
                    width: 100%;
                }
                
            }
        }
    }
    
}
// Slide left from right
.drop-top-enter {
    transform: translateY(-100%);
}

.drop-top-enter-to { 
    transform: translateY(0%);
}

.drop-top-enter-active {
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.drop-top-leave {
    transform: translateY(0%);
}

.drop-top-leave-to {
    transform: translateY(-100%);
}

.drop-top-leave-active {
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}