body {
    margin: 0px;
}

div.container-fluid {
    padding: 0px;
    margin: 0px;
    background-color: rgba(74, 67, 67, 0.428);
}

div.content {
    height: 93vh;
}

div.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(50px + .7vh);
    box-sizing: content-box;

    div.row div.col-4 {
        line-height: calc(50px + .7vh);
        padding: 0px;

        button {
            width: 100%;
            background-color: #41b883;
            border-width: 2px 1px;
            border-style: solid;
            border-color: #35495e;
            color: #27313b;
            font-weight: bold;
        }
    }
}

div#btn-afegir-lloc{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 40px;
    height: 40px;

    button {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        padding: 5px;
        background-color: #41b883;
        border: 2px dashed #35495e;
    }
}

.popup-overlay {
    filter: blur(1.2px) brightness(0.55);
}

// Transicions
// Slide from bottom to top
.slide-rigth-enter {
    transform: translateX(100%);
}

.slide-rigth-enter-to {
    transform: translateX(0%);
}

.slide-rigth-enter-active {
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.slide-rigth-leave {
    transform: translatex(0%);
}

.slide-rigth-leave-to {
    transform: translatex(-100%);
}

.slide-rigth-leave-active {
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}

// Slide left from right
.drop-down-enter {
    transform: translateY(100%);
}

.drop-down-enter-to { 
    transform: translateY(0%);
}

.drop-down-enter-active {
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.drop-down-leave {
    transform: translateY(0%);
}

.drop-down-leave-to {
    transform: translateY(-100%);
}

.drop-down-leave-active {
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}


// Slide right from left
.slide-left-enter {
    transform: translateX(-100%);
}

.slide-left-enter-to {
    transform: translateX(0%);
}

.slide-left-enter-active {
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.slide-left-leave {
    transform: translatex(0%);
}

.slide-left-leave-to {
    transform: translatex(100%);
}

.slide-left-leave-active {
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}