body {
    margin: 0px;
}

div.container-fluid {
    padding: 0px;
    margin: 0px;
}

div.mapa {
    background-color: yellowgreen;
    height: 93vh;
    text-align: center;
    line-height: 93vh;
}

div.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: khaki;

    div.row div.col-4 {
        text-align: center;
        line-height: 7vh;
        padding: 0px;

        button {
            width: 100%;
        }
    }
}