div#mapa {
    height: 100%;
    text-align: center;

    // Transicions a tot el div del mapa per quan es carrega un altre component a sobre
    transition-property: filter;
    transition-delay: .2s;
    transition-duration: .3s;
}
